Makefile.in
*.in
*~
aclocal.m4
autoconfig.h.in
autom4te.cache/
configure
configure_aux/
\#*\#
*.o
Makefile
*.log
*.spec
*.a
*.bak
autoconfig.h
build/.deps/
build/mediatomb
config.status
mediatomb/
scripts/mediatomb-service-optware
stamp-h1
tombupnp/build/.deps/
tombupnp/upnp/inc/stamp-h2
tombupnp/upnp/inc/upnpconfig.h
webnew/images/default/grid/Thumbs.db
