Makefile.in
*.in
*~
autom4te.cache/
configure
configure_aux/config.guess
configure_aux/config.sub
configure_aux/depcomp
\#*\#
*.o
Makefile
*.log
*.spec
*.a
*.bak
autoconfig.h
build/.deps/
build/mediatomb
config.status
mediatomb/
scripts/mediatomb-service-optware
stamp-h1
tombupnp/build/.deps/
tombupnp/upnp/inc/stamp-h2
tombupnp/upnp/inc/upnpconfig.h
webnew/images/default/grid/Thumbs.db
.DS_Store
 build/mediatomb.js
mediatomb.db
mediatomb.html
